name = "pfsense"
type = "hvm"
vcpus = 2
memory = 2048
vif = [
  'bridge=xenbr0,backend=ndvm-1',
  'bridge=xenbr0,backend=ndvm-2',
  'bridge=xenbr0,backend=ndvm-3'
 ]
serial = "pty"
vga="none"
nographics = 1

## Use this for installation ##
# disk = [ '/mnt/pfSense-CE-memstick-serial-2.4.4-RELEASE-p3-amd64.img,,hda,rw',
#        '/mnt/disk.img,,hdb,rw'
# ]

## Use this for running from disk when already installed ##
disk = [ '/usr/share/xen-images/pfsense.img,,hdb,rw' ]
